/* ===== DISEÑO GENERAL ===== */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

header {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 50px;
  text-align: center;
}

/* ===== PIE DE PÁGINA ===== */
footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}.productos-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.producto {
  border: 1px solid #1946a6;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
